DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
JWT_SECRET=
DEFAULT_STUDENT_PASSWORD=
FRONTEND_URL=
NEXT_PUBLIC_API_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_CALLBACK_URL=
SMS_PROVIDER_API_KEY=
EMAIL_PROVIDER_API_KEY=
